<div data-role="header" data-theme="b">
    <h1>メッセージ</h1>
</div>

<div data-role="content" data-theme="b">

  <p>エキスパート<span style="color:red"><%= @expert_name %></span>さんへ質問</p>
  
  <!-- ここにコメントを書いていく。 -->
  <% if @messages.blank? %>
    
    <p>メッセージ0件</p>

  <% else %>
    
    <ol data-role="listview" data-theme="c">
      <% @messages.each do |message| %>
        
        <li>
          <a href="#">
            <% if message.writer_id == @current_user.id %>
              投稿者:( <%= @current_user.name%>さん)
            <% else %>
              投稿者:( <%= @expert_name %>さん)
            <% end %>
          
            <!-- メッセージ　-->
            メッセージ: <%= message.content %>
          </a>
        </li>

      <% end %>
    </ol>

  <% end %>

</div>

<div data-role="footer" data-position="fixed" data-theme="b">
  
  <!-- ここでコメントを書くフォームをつくる。-->
  <%= form_for @message,:url => {:action => "up"} do |form| %>  
    
    <%= form.text_area :content %>
    <%= form.hidden_field :writer_id %>
    
    <%= form.submit "送信" %>
  
  <% end %>

</div>
