
<div data-role="header" data-position="fixed" data-theme="b">
  <div data-role="navbar">
    <ul>
      <li><%= link_to "エキスパート一覧",:root %></li>
      <li><%= link_to "メッセージ",box_messages_path %></li>
      <li><%= link_to "プロフィール" %></li>
    </ul>
  </div>

  <p>
    <% if @role == "user" %>
      エキスパート(<%= @partner.name %>)さんとのセッション
    <% elsif @role == "expert" %>
      質問者(<%= @partner.name %>)さんとのセッション
    <% end %>
    
    <% if @status == 0 || @status == 1 %>
      (チャット中)
    <% elsif @status == 2 %>
      (パス中)
    <% elsif @status == 3 %>
      (終了)
    <% end %>
  </p>


</div>




<div data-role="content">

  <% if @messages %>
    <ol id="contentlist">
      <% @messages.each do |message| %>
 

        <li>
          <% if @role == "user" %>
            <% if message.post_id == @current_user.id %>
              自分からエキスパート(<%= @partner.name %>)さんへ  
            <% else %>
              エキスパート(<%= @partner.name %>)さんから
            <% end %>
          <% elsif @role == "expert" %>
            <% if message.post_id == @current_user.id %>
              自分から質問者(<%= @partner.name %>)さんへ  
            <% else %>
              質問者(<%= @partner.name %>)さんから
            <% end %>
          <% end %>
          
          <br />
          <%= message.content %>

        </li>


      <% end %>
    </ol>
  <% else %>

    <p>セッションはスタートしていません。</p>
  
  <% end %>

</div>


<div data-role="footer" data-position="fixed" data-theme="b">

  <!-- チャット中のみ表示　-->
  <% if @status == 0 || @status == 1 %> 
    
    <!-- パスボタンをつける。 -->
    <% if @status == 0 %>   
      <p><%= link_to "パス",pass_session_path(@session.id),:method => "post"  %> </p>
    <% elsif @status == 1 %>
      <p><%= link_to "エンド",end_session_path(@session.id),:method => "post"  %></p>
    <% end %>


    <!-- 送信フォームをつくる。 -->
    <%= form_for @post,:url => {:action => 'create'},:remote => true ,:html => {:id => 'form'} do |form| %> 

      <%= form.hidden_field :session_id %> 
      <%= form.hidden_field :post_id %> 
      <%= form.text_field :content %>
    
      <%= form.submit "送信",:id => "submit" %> 
    <% end %>
  
  <% elsif @role == "user" && @flag == true && (@status == 2 || @status == 3 )  %>

    <p>新しいセッションをスタート</p>
  
    <p><%= link_to "スタート",:controller => "sessions",:action => "new",:q => @partner.id %></p>

  <% end %>


</div>


<script>


  $(function(){
 
    var contentlist = $("#contentlist");
    var text_area = $("#message_content")[0];
    //セッションのidをいれる。
    var session_id = $("#message_session_id")[0].value; 

    //ここにsocket.ioを使って、ソケット通信をする。
    var socket = io.connect("http://localhost:2000/");
    socket.on('connect', function(){
    
      //socket通信を成功
      console.log("ソケット通信に成功");
     
      //自分がログインしたことをつたえる処理。セッションidをサーバーにおくる。
      socket.emit('login',{text:"ユーザーがloginしました"});
      
      //相手がメッセージを送ったらうけとるイベントを設置
      socket.on("session_"+ session_id ,function(data){
     
        console.log("相手からメッセージが届いた");
      
      });

    
    });
    
    

    //Ajax処理    
    $("#form")
      .live("ajax:success", function(e,data){   
        //成功
        console.log("成功！！");

        var content = "<li>" + data["content"] + "</li>";
        //コメントを追加する。
        contentlist.append(content);
        
        //テキストエリアを空にする。
        text_area.value = ""

        socket.emit("message",{text: "メッセージの送信",session_id: session_id });

      });

    







  
  
  
  
  
  
  })








</script>























