<div data-role="header" data-theme="b">
    <h1>メッセージのサンプル</h1>
</div>

<div data-role="content" data-theme="b">
  
  <% if !@current_user %>
  
  <!--　ログインしてない場合の処理。 -->
        <%= form_tag :sessions do %>
        
          <p>名前:<%= text_field_tag "name" %></p>
          <p>パスワード:<%= text_field_tag "password" %></p>
          <p><%= submit_tag "送信" %></p>
  
        <% end %>

  
  <% else %>

  <!-- ログインしてる場合の処理。 -->
    <p>
      <%= @current_user.name %>
      <% if @current_user.advice %>
        (エキスパート)
      <% end %>
      さん
      <%= link_to "ログアウト",session_path(@current_user.id),method: :delete %>
    </p>
    <p><%= link_to "エキスパート一覧へ",:experts_messages %></p>






  <% end %>





</div>




