<div data-role="header" data-theme="b">
    <h1>メッセージのサンプル</h1>
</div>

<div data-role="content" data-theme="b">
  <% if !@current_user %>
        <%= form_tag :sessions do %>
        
          <p>名前:<%= text_field_tag "name" %></p>
          <p>パスワード:<%= text_field_tag "password" %></p>
          <p><%= submit_tag "送信" %></p>
  
        <% end %>

  <% else %>
    <p>
      <%= @current_user.name %>
      <% if @current_user.advice %>
        (エキスパート)
      <% end %>
      さん
      <%= link_to "ログアウト",session_path(@current_user.id),method: :delete %>
    </p>

    <ul data-role="listview" data-theme="a">
      
      <% @experts.each do |expert| %>

        <li><%= link_to expert.name + "さん" %></li>
      
      <% end %>
    </ul>


  <% end %>
</div>




