<div data-role="header" data-theme="b">
    <h1>メッセージ一覧</h1>
</div>

<div data-role="content" data-theme="b">
  
  <% if !@current_user %>
  
  <!--　ログインしてない場合の処理。 -->
        <%= form_tag :sessions do %>
        
          <p>名前:<%= text_field_tag "name" %></p>
          <p>パスワード:<%= text_field_tag "password" %></p>
          <p><%= submit_tag "送信" %></p>
  
        <% end %>

  
  <% else %>

  <!-- ログインしてる場合の処理。 -->
    <p>
      <%= @current_user.name %>
      <% if @current_user.advice %>
        (エキスパート)
      <% end %>
      さん
      <%= link_to "ログアウト",session_path(@current_user.id),method: :delete %>
    </p>
    <p><%= link_to "エキスパート一覧へ",:experts_messages %></p>

    <!--　メッセージ簡易表示する。 -->
    <ol data-role="listview" data-theme="c">
      <% @messages.each do |message| %>
        <li>
          
          <!-- ログインユーザーがエキスパートとして、セッションを組んだ場合。 -->
          <% if @current_user.id == message.session.expert_id %>
            <a href="/messages/<%= message.session.user_id %>/feed?type=expert">
              <% if message.writer_id == @current_user.id %>
                自分から質問者(<%= User.find(message.session.user_id).name %>)さんへ。
              <% else %> 
                質問者(<%= User.find(message.session.user_id).name %>)さんから。
              <% end %>
                メッセージ: <%= message.content %> 
            </a>
          <% else %>

          <!-- ログインユーザーが、エキスパートではなく、ユーザーとしてセッションを組んだ場合。 -->   
            <a href="/messages/<%= message.session.expert_id %>/feed?type=user">
              <% if message.writer_id == @current_user.id %>
                自分からエキスパート(<%= User.find(message.session.expert_id).name %>)さんへ。
              <% else %> 
                エキスパート(<%= User.find(message.session.expert_id).name %>)さんから。
              <% end %>
                メッセージ: <%= message.content %> 
            </a>
          
          <% end %>        
        
        </li>      
      <% end %>
    </ol>


  <% end %>





</div>




