
<div data-role="header" data-position="fixed" data-theme="b">
  <div data-role="navbar">
    <ul>
      <li><%= link_to "エキスパート一覧",:root %></li>
      <li><%= link_to "メッセージ",box_messages_path %></li>
      <li><%= link_to "プロフィール" %></li>
    </ul>
  </div>
</div>


<div data-role="content">
 
  <h1>expert(<%= @expert.name %>)さん</h1>

  <p><%= link_to "セッションスタート",:controller => "sessions",:action => "divide",:q => @expert.id %></p>










</div>




